body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d00; /* Verde oscuro */
    padding: 20px;
    color: white;
    position: relative;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.equipo {
    cursor: pointer;
    margin: 20px 0;
    text-align: center;
}

.equipo img {
    width: 200px; /* Ajusta según sea necesario */
    height: auto;
}

.hero {
    background-image: url('ruta-a-tu-imagen-de-fondo.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
