body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c8102e;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px; /* Ajusta el tamaño del logo */
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    background-image: url('static/fondo.jpg'); /* Imagen de fondo */
    height: 400px; /* Altura del héroe */
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.team {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team img {
    height: 100px; /* Ajusta el tamaño de las imágenes de equipo */
    margin-right: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .team {
        flex-direction: column;
        align-items: flex-start;
    }

    .team img {
        margin-bottom: 10px;
    }
}
